body {
  color: rgb(222, 112, 3);
  background-color: rgb(19, 19, 19);
  
}

.layout {
  width: 1024px;
  height: 768px;
  overflow: hidden;
  transform-origin: top left;
  /* Ensure scaling starts from top left corner */
  transform: scale(1);
  background-color: rgb(53, 53, 53);
  background-image: url("img/energy.jpeg");
  background-size: cover;
  background-position: center;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Adjust as needed */
  grid-template-rows: 1fr 1fr; /* Adjust as needed */
  gap: 4px; /* Adjust as needed */
}

.item {
  background-color:transparent; /* Just for demonstration */
}

/* Layout No Touch I lay you out.*/
.div_output {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgb(53, 53, 53);
  background-image: url("img/runerock.jpeg");
  background-size: cover;
  background-position: center;
  width: 252px;
  height: 758px;
  z-index: 100;
}

.div_breadcrumb {
  position: absolute;
  left: 13px;
  top: 629px;
  background-color: rgb(53, 53, 53);
  /* background-color: transparent; */
  width: 215px;
  height: 48px;
  z-index: 10000;
  opacity: .5;
}

.div_buttonbar {
  position: absolute;
  left: 229px;
  top: 631px;
  background-color: rgb(53, 53, 53);
  width: 30px;
  height: 133px;
  z-index: 10000000;
  opacity: .5;
}

.div_input {
  position: absolute;
  left: 12px;
  top: 683px;
  background-color: rgb(53, 53, 53);
  /* background-color: transparent; */
  width: 215px;
  height: 81px;
  z-index: 100;
  opacity: .7;
}

.div_upper {
  position: absolute;
  left: 264px;
  top: 10px;
  background-color: rgb(53, 53, 53);
  /* background-image: url("img/chartt.jpeg"); */
  background-size: cover;
  background-position: center;
  width: 756px;
  height: 150px;
  opacity: .7;
}

.div_mid_left {
  position: absolute;
  left: 264px;
  top: 164px;
  /* background-image: url("img/bl.jpeg"); */
  background-color: rgb(53, 53, 53);
  opacity: .7;

  background-size: cover;
  background-position: center;
  width: 380px;
  height: 350px;
}

.div_mid_right {
  position: absolute;
  left: 645px;
  top: 164px;
  /* background-image: url("img/mountain_gorge.jpeg"); */
  background-color: rgb(53, 53, 53);
  opacity: .7;
  background-size: cover;
  width: 377px;
  height: 350px;
}

.div_lower_left {
  position: absolute;
  left: 264px;
  top: 518px;
  background-color: rgb(53, 53, 53);
  opacity: .7;
  /* background-image: url("img/chartt.jpeg"); */
  background-size: cover;
  width: 250px;
  height: 250px;
}

.div_lower_cent {
  position: absolute;
  left: 518px;
  top: 518px;
  background-color: transparent;
  /* background-image: url("img/chartt.jpeg"); */
  background-color: rgb(53, 53, 53);
  opacity: .7;
  background-size: cover;
  width: 252px;
  height: 250px;
 
}

.div_lower_right {
  position: absolute;
  left: 774px;
  top: 518px;
  background-color: rgb(53, 53, 53);
  /* background-image: url("img/bellaluna.jpeg"); */
  background-size: cover;
  width: 250px;
  height: 250px;
}

/* 
.div_lower_cent_1 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/empty.jpeg");
  background-size: cover;
}

.div_lower_cent_2 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/empty.jpeg");
  background-size: cover;
}

.div_lower_cent_3 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/empty.jpeg");
  background-size: cover;
}

.div_lower_cent_4 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/hearseeker.jpeg");
  background-size: cover;
}

.div_lower_right_1 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/victrola.jpeg");
  background-size: cover;
}

.div_lower_right_2 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/zed.jpeg");
  background-size: cover;
}

.div_lower_right_3 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/yummybar.jpeg");
  background-size: cover;
}

.div_lower_right_4 {
  background-color: rgb(53, 53, 53);
  background-image: url("img/bellaluna.jpeg");
  background-size: cover;
} */



textarea {
  position: relative;
  resize: none;
  color:whitesmoke;
  border:none
}

textarea:focus {
  border: none;
  outline: none; /* Remove default focus outline */
}

textarea:after {
  border: none;
  outline: none; /* Remove default focus outline */
}

.ta_output {
  background-color: transparent;
  width: 243px;
  height: 605px;
}

.ta_breadcrumb {
  color:black;
  font-size: xx-small;
  background-color: white;
  width: 211px;
  height: 44px;
  overflow: hidden;
  opacity: .5;
}

.ta_input {
  color:black;
  font-size: smaller;
  background-color: white;
  width: 211px;
  height: 74px;
  opacity: .5;
  border: none;
  border-style: none;
}

.bt_send {
  /* position: relative; */
  left: 219px;
  /* top: -31px; */
  opacity: .7;
  font-size: larger;
  z-index: 10000000;
  height: 132px;
  outline: none;
  border: none;
}

.bt_send:focus {
  outline: none;
  border:none;
  opacity: 1;
}